body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0px;
    line-height: 1.6;
}
.shop-name{
    font-size: 3em;
    margin: 0px;
}
.container2{
    display:inline-block;
    width: 40%;
}
.container1{
    float:left;
    width: 60%;
}
.Signin{
    justify-content: flex-end;
    margin-bottom: 30px;
    align-self: stretch;
}
.icons{
    justify-content: flex-start;
    margin-right: 100px;
}
.search{
    display:flex;
}
